<div class="container mx-auto">
  <div class="flex flex-wrap justify-center pb-20">
    <% if @rooms.present? %>
      <% @rooms.each do |room| %>
        <%= room.cw_room_name %><br>
      <% end %>
    <% else %>
      <p class="text-4xl pt-20"><%= t('.no_result') %></p>
    <% end %>
  </div>
</div>
