doctype html
html
  head
    title CwApp
    meta name="viewport" content="width=device-width, initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  body
    - if logged_in?
      | ログインしています
    - else
      | ログインしていません
    = yield
    = link_to(t('defaults.logout'), logout_path, data: { turbo_method: :delete, "turbo-confirm" => (t 'defaults.logout?') }, class: "btn btn-primary text-white my-1")
